@{
    ViewBag.Title = "Post here";
}
@section css{
    <style type="text/css">
        .checkbox .btn-link {
            padding-top: 0;
            padding-bottom: 0;
        }
    </style>
}
<br />
<div class="container" ng-app="srv">
    <div class=" col-xs-12 col-md-8 col-md-offset-2" ng-controller="myCtrl">
        <div class="alert alert-danger" ng-show="errMsg!=''">
            {{$root.errMsg}}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
        <form role="form" ng-submit="submit()">
            <div class="form-group">
                <label for="txtcont">Mesage</label>
                <textarea id="txtcont" placeholder="Input your message here" class="form-control"></textarea>
            </div>
            <div class="form-group">
                @*<label for="exampleInputFile">File input</label>*@
                <input type="file" id="exampleInputFile">
                @*<p class="help-block">Example block-level help text here.</p>*@
            </div>
            <ul class="list-unstyled">
                <li class="checkbox" ng-repeat="(key,site) in sites" ng-mouseenter="showAction($index)" ng-mouseleave="showAction(-1)">
                    <label><input type="checkbox" name="snsaccount" ng-disabled="{{site.linked}}" />&nbsp;{{key}}</label>
                    <span ng-show="cursite==$index" class="pull-right">
                        <button class="btn btn-link" ng-disabled="{{site.linked}}" ng-click="goAuth(site.url)">link</button>
                        <button class="btn btn-link" ng-disabled="{{!site.linked}}">unlink</button>
                    </span>
                </li>
            </ul>
            <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-edit"></i> Submit</button>
        </form>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/angular")
    <script type="text/javascript">
        var app = angular.module('srv', []);
        app.controller('myCtrl', ['$scope', '$rootScope', 'mySrv', function ($scope, $rootScope, mySrv) {
            $rootScope.errMsg = '';
            $scope.cursite = -1;
            $scope.showAction = function (index) {
                $scope.cursite = index;
            };
            $scope.goAuth = function (url) {
                location.href = url;
            };
            $scope.submit = function () {

            };
            mySrv.getUserSiteList().success(function (data, status) {
                $scope.sites = {
                    sina: { linked: false, url: '/social/getcode/sina' },
                    qq: { linked: false, url: '/social/getcode/qq' }
                };
                angular.forEach(data, function (m) {
                    var site = $scope.sites[m.sitename];
                    if (site) site.linked = true;
                });
            })
                .error(function (data, status) {
                    mySrv.error(data.ExceptionMessage || data.Message);
                });
        }]);
        app.service('mySrv', ['$rootScope', '$http', '$timeout', function ($rootScope, $http, $timeout) {
            var self = this;
            self.getUserSiteList = function () {
                return $http.get('/api/site');
            };
            self.error = function (msg) {
                $rootScope.errMsg = msg;
                $timeout(function () { $rootScope.errMsg = ''; }, 3000);
            };
            return self;
        }]);
    </script>
}