@{
    ViewBag.Title = "Post here";
}
@section css{
    <style type="text/css">
        .checkbox .btn-link{padding-top:0;padding-bottom: 0;}
    </style>
}
<br />
<div class="container">
    <div class=" col-xs-12 col-md-8 col-md-offset-2">
        <form role="form" action="/home/process" method="POST">
            <div class="form-group">
                <label for="txtcont">Mesage</label>
                <textarea placeholder="Input your message here" class="form-control"></textarea>
            </div>
            <div class="form-group">
                @*<label for="exampleInputFile">File input</label>*@
                <input type="file" id="exampleInputFile">
                @*<p class="help-block">Example block-level help text here.</p>*@
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="sina" id="cbxsina" name="snsaccount" />&nbsp;sina</label>
                <button class="btn btn-link">unlink</button>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="qq" id="cbxsina" name="snsaccount" />&nbsp;QQ</label>
                <button class="btn btn-link">link</button>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>