<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appkey:sina" value="2257739887"/>
    <add key="appkey:redirect" value="http://example.com"/>
    <add key="app:twitter:key" value="mYW10tOgjCx0K6yC70Nxw"/>
    <add key="app:twitter:secret" value="P9GJOZMQHmvXGEhJbk5UOtQ0Nxo7RkzQaRjjwfRUxU"/>
  </appSettings>
</configuration>